/* Links&Assets */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');

/* Animations&bodyStyles */
html {
    scroll-behavior: smooth;
    background-color: #ffffff;
    font-family: 'Cairo', sans-serif;
  }

  /* Header */

  /* others */
  .line {
    background-color: rgb(255, 196, 0);
    width: 300px;
    height: 3px;
    border-radius: 4px;
    top: 66px;
    position:fixed;
  }
  .soon-title{
    font-weight: bold;
    color: goldenrod;
  }
  /* content Style-desktop */

  /* content style-mobile */